
.flex-container{
    width: 100%;
    justify-content: center;
    padding-top: 80px;
    display: flex;
   /* background-color: chocolate; */
}
#questions, #response , #view-high-button {
    flex-direction: column;
    width: 20%;
    padding-top: 20px;
    /* background-color: chartreuse; */
    margin-left: 600px;
    margin-top: 10px;
}
#button{
    margin-left: 200px;
    justify-self: center;
    margin-right: 100px;
}


body{
    background-color: black;
}
h3 {
    color: white;
}

.choiceButtons{
    margin-top: 15px;
    background-color: blue;
    font-family: fantasy;
}
.questFont{
    font-size: 25px;
    font-family: fantasy;
}

.text-box{
    margin-left: auto;
}

.score{
    margin-left: 20px;
}
